<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>게시글 작성 - 정보게시판</title>
        <link rel="stylesheet" href="../../static/css/information.css" />
        <link
            rel="shortcut icon"
            href="https://www.wishket.com/static/favicon.ico"
        />
    </head>
    <body>
        <div>
            <div>
                <div class="구현X"></div>
                <div class="wrap">
                    <div class="구현X"></div>
                    <form>
                        <input type="text" />
                        <input type="text" />
                        <div>
                            <div>
                                <p>프로젝트 상세</p>
                                <button class="구현X"></button>
                            </div>
                            <div>
                                <div class="form-group-light">
                                    <label for=""></label>
                                    <span></span>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                                <div class="form-group-light"></div>
                                <div class="구현X"></div>
                            </div>
                            <div class="구현X"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
    <script src="../../static/js/information.js"></script>
</html>
