<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="header-login.css" />
        <title>Main</title>
    </head>
    <body>
        <header class="header">
            <section class="wrap">
                <div class="header-service-nav">
                    <div class="container">
                        <div class="service-link wishket">
                            <img
                                src="https://www.wishket.com/static/renewal/img/global/gnb_wishket.svg"
                            />
                            <div class="service-name caption-1">위시켓</div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <a href="">
                        <div class="nav-logo-wrapper">
                            <div class="nav-logo"></div>
                        </div>
                    </a>
                    <div class="left-nav">
                        <a href="">
                            <div class="left-nav-menu font-body-2">
                                프로젝트 등록
                            </div>
                        </a>
                        <a href="">
                            <div class="left-nav-menu font-body-2">
                                프로젝트 찾기
                            </div>
                        </a>
                        <a href="">
                            <div class="left-nav-menu font-body-2">
                                파트너스 찾기
                            </div>
                        </a>
                        <div class="drop-down-container">
                            <a href="">
                                <div class="left-nav-menu pr-8 font-body-2">
                                    이용방법

                                    <div class="img-container">
                                        <img
                                            src="https://www.wishket.com/static/renewal/img/global/Arrow.png"
                                            srcset="
                                                https://www.wishket.com/static/renewal/img/global/Arrow.png    1x,
                                                https://www.wishket.com/static/renewal/img/global/Arrow@2x.png 2x,
                                                https://www.wishket.com/static/renewal/img/global/Arrow@3x.png 3x
                                            "
                                        />
                                    </div>
                                </div>
                            </a>
                            <div class="drop-down-list1">
                                <div class="left-bar-useguide">
                                    <img
                                        src="https://www.wishket.com/static/renewal/img/global/gradient-bar-1.png"
                                        srcset="
                                            https://www.wishket.com/static/renewal/img/global/gradient-bar-1.png    1x,
                                            https://www.wishket.com/static/renewal/img/global/gradient-bar-1@2x.png 2x,
                                            https://www.wishket.com/static/renewal/img/global/gradient-bar-1@3x.png 3x
                                        "
                                    />
                                </div>
                                <div class="menu-list">
                                    <a href="">
                                        <div class="drop-down-menu font-body-2">
                                            이용방법
                                        </div></a
                                    >
                                    <a href="">
                                        <div class="drop-down-menu font-body-2">
                                            파트너 등급
                                        </div></a
                                    >
                                    <a href="">
                                        <div class="drop-down-menu font-body-2">
                                            이용요금
                                        </div></a
                                    >
                                    <a href="">
                                        <div class="drop-down-menu font-body-2">
                                            고객센터
                                        </div></a
                                    >
                                </div>
                            </div>
                        </div>
                        <div class="drop-down-container">
                            <a href="">
                                <div
                                    class="left-nav-menu pr-8 font-body-2 text9"
                                >
                                    고객 사례
                                    <div>
                                        <img
                                            src="https://www.wishket.com/static/renewal/img/global/Arrow.png"
                                            srcset="
                                                https://www.wishket.com/static/renewal/img/global/Arrow.png    1x,
                                                https://www.wishket.com/static/renewal/img/global/Arrow.png@2x 2x,
                                                https://www.wishket.com/static/renewal/img/global/Arrow.png@3x 3x
                                            "
                                        />
                                    </div>
                                </div>
                            </a>
                            <div class="drop-down-list2">
                                <div class="left-customer-case">
                                    <img
                                        src="https://www.wishket.com/static/renewal/img/global/gradient-bar-1.png"
                                        srcset="
                                            https://www.wishket.com/static/renewal/img/global/gradient-bar-1.png    1x,
                                            https://www.wishket.com/static/renewal/img/global/gradient-bar-1@2x.png 2x,
                                            https://www.wishket.com/static/renewal/img/global/gradient-bar-1@3x.png 3x
                                        "
                                    />
                                </div>
                                <div class="menu-list">
                                    <a href=""
                                        ><div
                                            class="drop-down-menu font-body-2 text9"
                                        >
                                            고객 사례
                                        </div></a
                                    >
                                    <a href=""
                                        ><div
                                            class="drop-down-menu font-body-2 text9"
                                        >
                                            이용후기
                                        </div></a
                                    >
                                    <a href=""
                                        ><div
                                            class="drop-down-menu font-body-2 text9"
                                        >
                                            위시켓 포트폴리오
                                        </div></a
                                    >
                                </div>
                            </div>
                        </div>
                        <div class="nav-divider"></div>
                        <a href="">
                            <div class="left-nav-menu font-body-2 text9">
                                프리미엄
                                <div class="img-container">
                                    <img
                                        src="https://www.wishket.com/static/renewal/img/global/new-sign.png"
                                    />
                                </div>
                            </div>
                        </a>
                        <a href="">
                            <div class="left-nav-menu font-body-2 text9">
                                스토어
                            </div>
                        </a>
                    </div>
                    <div class="right-nav">
                        <div class="my-project-container">
                            <div class="right-nav-menu font-body-2">
                                내 프로젝트 관리
                                <div class="img-container">
                                    <img
                                        src="https://www.wishket.com/static/renewal/img/global/Arrow.png"
                                        srcset="
                                            https://www.wishket.com/static/renewal/img/global/Arrow.png    1x,
                                            https://www.wishket.com/static/renewal/img/global/Arrow@2x.png 2x,
                                            https://www.wishket.com/static/renewal/img/global/Arrow@3x.png 3x
                                        "
                                    />
                                </div>

                                <div class="my-project-drop-down">
                                    <div class="my-project">
                                        <div
                                            class="sub-headline caption-2 text400"
                                        >
                                            내 프로젝트
                                        </div>

                                        <a href="">
                                            <div class="drop-down-menu">
                                                <img
                                                    src="https://www.wishket.com/static/renewal/img/global/client-process-bar-1.png"
                                                    srcset="
                                                        https://www.wishket.com/static/renewal/img/global/client-process-bar-1.png    1x,
                                                        https://www.wishket.com/static/renewal/img/global/client-process-bar-1@2x.png 2x,
                                                        https://www.wishket.com/static/renewal/img/global/client-process-bar-1@3x.png 3x
                                                    "
                                                />
                                                <div
                                                    class="cap font-body-2 text9"
                                                >
                                                    검수 중
                                                </div>
                                            </div>
                                        </a>
                                        <a href="">
                                            <div class="drop-down-menu">
                                                <img
                                                    src="https://www.wishket.com/static/renewal/img/global/client-process-bar-1.png"
                                                    srcset="
                                                        https://www.wishket.com/static/renewal/img/global/client-process-bar-1.png    1x,
                                                        https://www.wishket.com/static/renewal/img/global/client-process-bar-1@2x.png 2x,
                                                        https://www.wishket.com/static/renewal/img/global/client-process-bar-1@3x.png 3x
                                                    "
                                                />
                                                <div
                                                    class="cap font-body-2 text9"
                                                >
                                                    지원자 모집 중
                                                </div>
                                            </div>
                                        </a>
                                        <a href="">
                                            <div class="drop-down-menu">
                                                <img
                                                    src="https://www.wishket.com/static/renewal/img/global/client-process-bar-1.png"
                                                    srcset="
                                                        https://www.wishket.com/static/renewal/img/global/client-process-bar-1.png    1x,
                                                        https://www.wishket.com/static/renewal/img/global/client-process-bar-1@2x.png 2x,
                                                        https://www.wishket.com/static/renewal/img/global/client-process-bar-1@3x.png 3x
                                                    "
                                                />
                                                <div
                                                    class="cap font-body-2 text9"
                                                >
                                                    진행 중인 프로젝트
                                                </div>
                                            </div>
                                        </a>
                                        <a href="">
                                            <div class="drop-down-menu">
                                                <img
                                                    src="https://www.wishket.com/static/renewal/img/global/client-process-bar-1.png"
                                                    srcset="
                                                        https://www.wishket.com/static/renewal/img/global/client-process-bar-1.png    1x,
                                                        https://www.wishket.com/static/renewal/img/global/client-process-bar-1@2x.png 2x,
                                                        https://www.wishket.com/static/renewal/img/global/client-process-bar-1@3x.png 3x
                                                    "
                                                />
                                                <div
                                                    class="cap font-body-2 text9"
                                                >
                                                    종료된 프로젝트
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="">
                            <div class="noti-bell-container">
                                <img
                                    src="https://www.wishket.com/static/renewal/img/global/client-noti-bell-new.png"
                                    srcset="
                                        https://www.wishket.com/static/renewal/img/global/client-noti-bell-new.png    1x,
                                        https://www.wishket.com/static/renewal/img/global/client-noti-bell-new@2x.png 2x,
                                        https://www.wishket.com/static/renewal/img/global/client-noti-bell-new@3x.png 3x
                                    "
                                />
                            </div>
                        </a>
                        <div class="profile-img-container">
                            <img
                                src="https://www.wishket.com/static/img/default_avatar_c.png"
                                class="user-img"
                            />
                            <div class="profile-drop-down">
                                <div class="section-1">
                                    <div
                                        class="user-profile"
                                        onclick="show_img_edit_modal()"
                                    >
                                        <img
                                            class="user-img"
                                            src="https://www.wishket.com/static/img/default_avatar_c.png"
                                        />
                                        <div
                                            class="edit-proflie-img-icon"
                                        ></div>
                                    </div>
                                    <div class="user-info">
                                        <div
                                            class="font-body-2-medium text mb4"
                                        >
                                            id.name
                                        </div>
                                        <div
                                            class="font-body-3 text6 email-info"
                                        >
                                            email.name
                                        </div>
                                    </div>
                                </div>
                                <div class="section-2">
                                    <a href=""
                                        ><div
                                            class="section-2-btn font-body-2 text6"
                                        >
                                            마이위시켓
                                        </div></a
                                    >
                                </div>
                                <div class="divider"></div>
                                <a href=""
                                    ><div
                                        class="drop-down-menu font-body-2 text777"
                                    >
                                        클라이언트 정보
                                    </div></a
                                >
                                <a href=""
                                    ><div
                                        class="drop-down-menu font-body-2 text777"
                                    >
                                        마이스토어
                                    </div></a
                                >
                                <div class="divider1"></div>
                                <a href="">
                                    <div
                                        class="drop-down-menu gray font-body-2 text6"
                                    >
                                        계정 설정
                                    </div>
                                </a>
                                <a href=""
                                    ><div
                                        class="drop-down-menu gray font-body-2 text6"
                                    >
                                        로그아웃
                                    </div></a
                                >
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </header>
        <script src="header-login.js"></script>
    </body>
</html>
