<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>mainFinal</title>
        <link rel="stylesheet" href="/header-login/header-login.css" />
        <link rel="stylesheet" href="/main-basic/main-basic.css" />
        <link rel="stylesheet" href="/main-login/main-login.css" />
        <link rel="stylesheet" href="/footer/footer.css" />
        <link
            rel="shortcut icon"
            href="https://upload.wikimedia.org/wikipedia/commons/c/c1/Wishket-logo.png"
        />
    </head>
    <body class="landing">
        <header class="header">
            <section class="wrap">
                <div class="header-service-nav">
                    <div class="container">
                        <div class="service-link wishket">
                            <img
                                src="https://www.wishket.com/static/renewal/img/global/gnb_wishket.svg"
                            />
                            <div class="service-name caption-1">위시켓</div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <a href="">
                        <div class="nav-logo-wrapper">
                            <div class="nav-logo"></div>
                        </div>
                    </a>
                    <div class="left-nav">
                        <a href="">
                            <div class="left-nav-menu font-body-2">
                                프로젝트 등록
                            </div>
                        </a>
                        <a href="">
                            <div class="left-nav-menu font-body-2">
                                프로젝트 찾기
                            </div>
                        </a>
                        <a href="">
                            <div class="left-nav-menu font-body-2">
                                파트너스 찾기
                            </div>
                        </a>
                        <div class="drop-down-container">
                            <a href="">
                                <div class="left-nav-menu pr-8 font-body-2">
                                    이용방법

                                    <div class="img-container">
                                        <img
                                            src="https://www.wishket.com/static/renewal/img/global/Arrow.png"
                                            srcset="
                                                https://www.wishket.com/static/renewal/img/global/Arrow.png    1x,
                                                https://www.wishket.com/static/renewal/img/global/Arrow@2x.png 2x,
                                                https://www.wishket.com/static/renewal/img/global/Arrow@3x.png 3x
                                            "
                                        />
                                    </div>
                                </div>
                            </a>
                            <div class="drop-down-list1">
                                <div class="left-bar-useguide">
                                    <img
                                        src="https://www.wishket.com/static/renewal/img/global/gradient-bar-1.png"
                                        srcset="
                                            https://www.wishket.com/static/renewal/img/global/gradient-bar-1.png    1x,
                                            https://www.wishket.com/static/renewal/img/global/gradient-bar-1@2x.png 2x,
                                            https://www.wishket.com/static/renewal/img/global/gradient-bar-1@3x.png 3x
                                        "
                                    />
                                </div>
                                <div class="menu-list">
                                    <a href="">
                                        <div class="drop-down-menu font-body-2">
                                            이용방법
                                        </div></a
                                    >
                                    <a href="">
                                        <div class="drop-down-menu font-body-2">
                                            파트너 등급
                                        </div></a
                                    >
                                    <a href="">
                                        <div class="drop-down-menu font-body-2">
                                            이용요금
                                        </div></a
                                    >
                                    <a href="">
                                        <div class="drop-down-menu font-body-2">
                                            고객센터
                                        </div></a
                                    >
                                </div>
                            </div>
                        </div>
                        <div class="drop-down-container">
                            <a href="">
                                <div class="left-nav-menu pr-8 font-body-2">
                                    고객 사례
                                    <div>
                                        <img
                                            src="https://www.wishket.com/static/renewal/img/global/Arrow.png"
                                            srcset="
                                                https://www.wishket.com/static/renewal/img/global/Arrow.png    1x,
                                                https://www.wishket.com/static/renewal/img/global/Arrow.png@2x 2x,
                                                https://www.wishket.com/static/renewal/img/global/Arrow.png@3x 3x
                                            "
                                        />
                                    </div>
                                </div>
                            </a>
                            <div class="drop-down-list2">
                                <div class="left-customer-case">
                                    <img
                                        src="https://www.wishket.com/static/renewal/img/global/gradient-bar-1.png"
                                        srcset="
                                            https://www.wishket.com/static/renewal/img/global/gradient-bar-1.png    1x,
                                            https://www.wishket.com/static/renewal/img/global/gradient-bar-1@2x.png 2x,
                                            https://www.wishket.com/static/renewal/img/global/gradient-bar-1@3x.png 3x
                                        "
                                    />
                                </div>
                                <div class="menu-list">
                                    <a href=""
                                        ><div
                                            class="drop-down-menu font-body-2"
                                        >
                                            고객 사례
                                        </div></a
                                    >
                                    <a href=""
                                        ><div
                                            class="drop-down-menu font-body-2"
                                        >
                                            이용후기
                                        </div></a
                                    >
                                    <a href=""
                                        ><div
                                            class="drop-down-menu font-body-2"
                                        >
                                            위시켓 포트폴리오
                                        </div></a
                                    >
                                </div>
                            </div>
                        </div>
                        <div class="nav-divider"></div>
                        <a href="">
                            <div class="left-nav-menu font-body-2">
                                프리미엄
                                <div class="img-container">
                                    <img
                                        src="https://www.wishket.com/static/renewal/img/global/new-sign.png"
                                    />
                                </div>
                            </div>
                        </a>
                        <a href="">
                            <div class="left-nav-menu font-body-2">스토어</div>
                        </a>
                    </div>
                    <div class="right-nav">
                        <div class="my-project-container">
                            <div class="right-nav-menu font-body-2">
                                내 프로젝트 관리
                                <div class="img-container">
                                    <img
                                        src="https://www.wishket.com/static/renewal/img/global/Arrow.png"
                                        srcset="
                                            https://www.wishket.com/static/renewal/img/global/Arrow.png    1x,
                                            https://www.wishket.com/static/renewal/img/global/Arrow@2x.png 2x,
                                            https://www.wishket.com/static/renewal/img/global/Arrow@3x.png 3x
                                        "
                                    />
                                </div>

                                <div class="my-project-drop-down">
                                    <div class="my-project">
                                        <div
                                            class="sub-headline caption-2 text400"
                                        >
                                            내 프로젝트
                                        </div>

                                        <a href="">
                                            <div class="drop-down-menu">
                                                <img
                                                    src="https://www.wishket.com/static/renewal/img/global/client-process-bar-1.png"
                                                    srcset="
                                                        https://www.wishket.com/static/renewal/img/global/client-process-bar-1.png    1x,
                                                        https://www.wishket.com/static/renewal/img/global/client-process-bar-1@2x.png 2x,
                                                        https://www.wishket.com/static/renewal/img/global/client-process-bar-1@3x.png 3x
                                                    "
                                                />
                                                <div
                                                    class="cap font-body-2 text9"
                                                >
                                                    검수 중
                                                </div>
                                            </div>
                                        </a>
                                        <a href="">
                                            <div class="drop-down-menu">
                                                <img
                                                    src="https://www.wishket.com/static/renewal/img/global/client-process-bar-1.png"
                                                    srcset="
                                                        https://www.wishket.com/static/renewal/img/global/client-process-bar-1.png    1x,
                                                        https://www.wishket.com/static/renewal/img/global/client-process-bar-1@2x.png 2x,
                                                        https://www.wishket.com/static/renewal/img/global/client-process-bar-1@3x.png 3x
                                                    "
                                                />
                                                <div
                                                    class="cap font-body-2 text9"
                                                >
                                                    지원자 모집 중
                                                </div>
                                            </div>
                                        </a>
                                        <a href="">
                                            <div class="drop-down-menu">
                                                <img
                                                    src="https://www.wishket.com/static/renewal/img/global/client-process-bar-1.png"
                                                    srcset="
                                                        https://www.wishket.com/static/renewal/img/global/client-process-bar-1.png    1x,
                                                        https://www.wishket.com/static/renewal/img/global/client-process-bar-1@2x.png 2x,
                                                        https://www.wishket.com/static/renewal/img/global/client-process-bar-1@3x.png 3x
                                                    "
                                                />
                                                <div
                                                    class="cap font-body-2 text9"
                                                >
                                                    진행 중인 프로젝트
                                                </div>
                                            </div>
                                        </a>
                                        <a href="">
                                            <div class="drop-down-menu">
                                                <img
                                                    src="https://www.wishket.com/static/renewal/img/global/client-process-bar-1.png"
                                                    srcset="
                                                        https://www.wishket.com/static/renewal/img/global/client-process-bar-1.png    1x,
                                                        https://www.wishket.com/static/renewal/img/global/client-process-bar-1@2x.png 2x,
                                                        https://www.wishket.com/static/renewal/img/global/client-process-bar-1@3x.png 3x
                                                    "
                                                />
                                                <div
                                                    class="cap font-body-2 text9"
                                                >
                                                    종료된 프로젝트
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="">
                            <div class="noti-bell-container">
                                <img
                                    src="https://www.wishket.com/static/renewal/img/global/client-noti-bell-new.png"
                                    srcset="
                                        https://www.wishket.com/static/renewal/img/global/client-noti-bell-new.png    1x,
                                        https://www.wishket.com/static/renewal/img/global/client-noti-bell-new@2x.png 2x,
                                        https://www.wishket.com/static/renewal/img/global/client-noti-bell-new@3x.png 3x
                                    "
                                />
                            </div>
                        </a>
                        <div class="profile-img-container">
                            <img
                                src="https://www.wishket.com/static/img/default_avatar_c.png"
                                class="user-img"
                            />
                            <div class="profile-drop-down">
                                <div class="section-1">
                                    <div
                                        class="user-profile"
                                        onclick="show_img_edit_modal()"
                                    >
                                        <img
                                            class="user-img"
                                            src="https://www.wishket.com/static/img/default_avatar_c.png"
                                        />
                                        <div
                                            class="edit-proflie-img-icon"
                                        ></div>
                                    </div>
                                    <div class="user-info">
                                        <div
                                            class="font-body-2-medium text9 mb4"
                                        >
                                            id.name
                                        </div>
                                        <div
                                            class="font-body-3 text6 email-info"
                                        >
                                            email.name
                                        </div>
                                    </div>
                                </div>
                                <div class="section-2">
                                    <a href=""
                                        ><div
                                            class="section-2-btn font-body-2 text6"
                                        >
                                            마이위시켓
                                        </div></a
                                    >
                                </div>
                                <div class="divider"></div>
                                <a href=""
                                    ><div
                                        class="drop-down-menu font-body-2 text777"
                                    >
                                        클라이언트 정보
                                    </div></a
                                >
                                <a href=""
                                    ><div
                                        class="drop-down-menu font-body-2 text777"
                                    >
                                        마이스토어
                                    </div></a
                                >
                                <div class="divider1"></div>
                                <a href="">
                                    <div
                                        class="drop-down-menu gray font-body-2 text6"
                                    >
                                        계정 설정
                                    </div>
                                </a>
                                <a href=""
                                    ><div
                                        class="drop-down-menu gray font-body-2 text6"
                                    >
                                        로그아웃
                                    </div></a
                                >
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </header>
        <section class="client-noti-verified">
            <div class="client-verified-box">
                <div class="container">
                    <div class="client-verified-box-content">
                        <div
                            class="mb6 text9 subtitle-2-medium client-verified-required-username"
                        >
                            sok174477님, 아래 정보들을 등록하고 더 많은 파트너의
                            지원을 받아 보세요!
                        </div>
                        <p class="mb32 text6 body-2">
                            파트너들은 신원 인증, 클라이언트 소개, 프로필 사진을
                            등록한 클라이언트님을 더욱 신뢰합니다.
                        </p>

                        <div class="box-content-group">
                            <div class="box-content" onclick="location.href=''">
                                <img
                                    class="box-content-icon on"
                                    src="	https://www.wishket.com/static/renewal/img/mywishket/client/banner_icon_identity_on.png"
                                    srcset="
                                        https://www.wishket.com/static/renewal/img/mywishket/client/banner_icon_identity_on.png    1x,
                                        https://www.wishket.com/static/renewal/img/mywishket/client/banner_icon_identity_on@2x.png 2x,
                                        https://www.wishket.com/static/renewal/img/mywishket/client/banner_icon_identity_on@3x.png 3x
                                    "
                                />
                                <img
                                    class="box-content-icon off"
                                    src="	https://www.wishket.com/static/renewal/img/mywishket/client/banner_icon_identity_off.png"
                                    srcset="
                                        https://www.wishket.com/static/renewal/img/mywishket/client/banner_icon_identity_off.png    1x,
                                        https://www.wishket.com/static/renewal/img/mywishket/client/banner_icon_identity_off@2x.png 2x,
                                        https://www.wishket.com/static/renewal/img/mywishket/client/banner_icon_identity_off@3x.png 3x
                                    "
                                />
                                <div class="box-content-body">
                                    <p
                                        class="content-title body-1-bold text9 mb4"
                                    >
                                        신원 인증
                                        <span
                                            class="help-text caption-1 text400"
                                            >개인·사업자 정보</span
                                        >
                                    </p>
                                    <p class="text6 body-2 keep-word">
                                        신원을 인증한 클라이언트의 지원자 수가
                                        2배 많아요.
                                    </p>
                                </div>
                                <img
                                    class="on"
                                    src="https://www.wishket.com/static/renewal/img/mywishket/client/banner_icon_add.png"
                                    srcset="
                                        https://www.wishket.com/static/renewal/img/mywishket/client/banner_icon_add.png    1x,
                                        https://www.wishket.com/static/renewal/img/mywishket/client/banner_icon_add@2x.png 2x,
                                        https://www.wishket.com/static/renewal/img/mywishket/client/banner_icon_add@3x.png 3x
                                    "
                                />
                                <img
                                    class="off"
                                    src="https://www.wishket.com/static/renewal/img/mywishket/client/banner_icon_success.png"
                                    srcset="
                                        https://www.wishket.com/static/renewal/img/mywishket/client/banner_icon_success.png    1x,
                                        https://www.wishket.com/static/renewal/img/mywishket/client/banner_icon_success@2x.png 2x,
                                        https://www.wishket.com/static/renewal/img/mywishket/client/banner_icon_success@3x.png 3x
                                    "
                                />
                            </div>
                            <div class="box-content" onclick="location.href=''">
                                <img
                                    class="on"
                                    src="	https://www.wishket.com/static/renewal/img/mywishket/client/banner_icon_intro_on.png"
                                    srcset="
                                        https://www.wishket.com/static/renewal/img/mywishket/client/banner_icon_intro_on.png    1x,
                                        https://www.wishket.com/static/renewal/img/mywishket/client/banner_icon_intro_on@2x.png 2x,
                                        https://www.wishket.com/static/renewal/img/mywishket/client/banner_icon_intro_on@3x.png 3x
                                    "
                                />
                                <img
                                    class="off"
                                    src="https://www.wishket.com/static/renewal/img/mywishket/client/banner_icon_intro_off.png"
                                    srcset="
                                        https://www.wishket.com/static/renewal/img/mywishket/client/banner_icon_intro_off.png    1x,
                                        https://www.wishket.com/static/renewal/img/mywishket/client/banner_icon_intro_off@2x.png 2x,
                                        https://www.wishket.com/static/renewal/img/mywishket/client/banner_icon_intro_off@3x.png 3x
                                    "
                                />
                                <div class="box-content-body">
                                    <p
                                        class="content-title body-1-bold text9 mb4"
                                    >
                                        클라이언트 소개
                                    </p>
                                    <p class="text6 body-2 keep-word">
                                        97%의 클라이언트가 입력 후 더 많은
                                        지원자가 생겼어요.
                                    </p>
                                </div>
                                <img
                                    class="on"
                                    src="https://www.wishket.com/static/renewal/img/mywishket/client/banner_icon_add.png"
                                    srcset="
                                        https://www.wishket.com/static/renewal/img/mywishket/client/banner_icon_add.png    1x,
                                        https://www.wishket.com/static/renewal/img/mywishket/client/banner_icon_add@2x.png 2x,
                                        https://www.wishket.com/static/renewal/img/mywishket/client/banner_icon_add@3x.png 3x
                                    "
                                />
                                <img
                                    class="off"
                                    src="https://www.wishket.com/static/renewal/img/mywishket/client/banner_icon_success.png"
                                    srcset="
                                        https://www.wishket.com/static/renewal/img/mywishket/client/banner_icon_success.png    1x,
                                        https://www.wishket.com/static/renewal/img/mywishket/client/banner_icon_success@2x.png 2x,
                                        https://www.wishket.com/static/renewal/img/mywishket/client/banner_icon_success@3x.png 3x
                                    "
                                />
                            </div>
                            <div
                                class="box-content box-profile-image-content"
                                onclick="show_img_edit_modal()"
                            >
                                <img
                                    class="box-content-icon on"
                                    src="https://www.wishket.com/static/renewal/img/mywishket/client/banner_icon_profile_on.png"
                                    srcset="
                                        https://www.wishket.com/static/renewal/img/mywishket/client/banner_icon_profile_on.png    1x,
                                        https://www.wishket.com/static/renewal/img/mywishket/client/banner_icon_profile_on@2x.png 2x,
                                        https://www.wishket.com/static/renewal/img/mywishket/client/banner_icon_profile_on@3x.png 3x
                                    "
                                />
                                <img
                                    class="box-content-icon off"
                                    src="https://www.wishket.com/static/renewal/img/mywishket/client/banner_icon_profile_off.png"
                                    srcset="
                                        https://www.wishket.com/static/renewal/img/mywishket/client/banner_icon_profile_off.png    1x,
                                        https://www.wishket.com/static/renewal/img/mywishket/client/banner_icon_profile_off@2x.png 2x,
                                        https://www.wishket.com/static/renewal/img/mywishket/client/banner_icon_profile_off@3x.png 3x
                                    "
                                />
                                <div class="box-content-body">
                                    <p
                                        class="content-title body-1-bold text9 mb4"
                                    >
                                        프로필 사진
                                        <span
                                            class="caption-1 text400 help-text"
                                            >사진·로고</span
                                        >
                                    </p>
                                    <p class="text6 body-2 keep-word">
                                        사진을 등록하면 파트너가 신뢰감을 느낄
                                        수 있어요.
                                    </p>
                                </div>
                                <img
                                    class="on"
                                    src="	https://www.wishket.com/static/renewal/img/mywishket/client/banner_icon_add.png"
                                    srcset="
                                        https://www.wishket.com/static/renewal/img/mywishket/client/banner_icon_add.png    1x,
                                        https://www.wishket.com/static/renewal/img/mywishket/client/banner_icon_add@2x.png 2x,
                                        https://www.wishket.com/static/renewal/img/mywishket/client/banner_icon_add@3x.png 3x
                                    "
                                />
                                <img
                                    class="off"
                                    src="https://www.wishket.com/static/renewal/img/mywishket/client/banner_icon_success.png"
                                    srcset="
                                        https://www.wishket.com/static/renewal/img/mywishket/client/banner_icon_success.png    1x,
                                        https://www.wishket.com/static/renewal/img/mywishket/client/banner_icon_success@2x.png 2x,
                                        https://www.wishket.com/static/renewal/img/mywishket/client/banner_icon_success@3x.png 3x
                                    "
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="client-list">
            <section class="container first-container">
                <p class="body-1-bold text-wishket mb6">성공사례</p>
                <div class="interview-title">
                    <p class="title-2-bold text9">
                        위시켓과 함께 성공한 기업들의 이야기
                    </p>
                    <button class="btn-interview-step left" id="interviewPrev">
                        <img
                            src="https://www.wishket.com/static/img/acquisition/icon_interview_prev.svg"
                        />
                    </button>
                    <button class="btn-interview-step right" id="interviewNext">
                        <img
                            src="	https://www.wishket.com/static/img/acquisition/icon_interview_next.svg
                        "
                        />
                    </button>
                </div>
            </section>
            <section>
                <div class="interview-title">
                    <div class="rolling-list">
                        <div class="bd-filter left"></div>
                        <div class="bd-filter right"></div>
                        <div
                            class="rolling-inner"
                            id="interview-title-list"
                            style="margin: left -550px"
                        >
                            <a href="" target="_blank"
                                ><div class="rolling-item">
                                    <div class="item-head mb32">
                                        <img
                                            src="https://www.wishket.com/static/img/acquisition/logo_interview_ktds.svg"
                                        />
                                        <div class="head-info">
                                            <p
                                                class="font-body-2-medium text700"
                                            >
                                                kt DS
                                            </p>
                                            <p class="body-3 text500">
                                                개발센터장 김성우
                                            </p>
                                        </div>
                                    </div>
                                    <p
                                        class="item-body subtitle-2-medium text9"
                                    >
                                        검증된 프리랜서 개발자를
                                        <br />
                                        빠르게 구했어요
                                    </p>
                                    <div class="open-interview-btn">
                                        <img
                                            src="https://www.wishket.com/static/img/acquisition/icon_arrow_r.svg"
                                        />
                                    </div></div
                            ></a>
                            <a href="" target="_blank"
                                ><div class="rolling-item">
                                    <div class="item-head mb32">
                                        <img
                                            src="https://www.wishket.com/static/img/acquisition/logo_interview_mbcedugrp.svg"
                                        />
                                        <div class="head-info">
                                            <p
                                                class="font-body-2-medium text700"
                                            >
                                                민병철교육그룹
                                            </p>
                                            <p class="body-3 text500">
                                                컬쳐 파트 매니저 전아름
                                            </p>
                                        </div>
                                    </div>
                                    <p
                                        class="item-body subtitle-2-medium text9"
                                    >
                                        부족한 개발자를 위시켓을
                                        <br />
                                        통해 빠르게 구인했어요
                                    </p>
                                    <div class="open-interview-btn">
                                        <img
                                            src="https://www.wishket.com/static/img/acquisition/icon_arrow_r.svg"
                                        />
                                    </div></div
                            ></a>
                            <a href="" target="_blank"
                                ><div class="rolling-item">
                                    <div class="item-head mb32">
                                        <img
                                            src="https://www.wishket.com/static/img/acquisition/logo_interview_cj.svg"
                                        />
                                        <div class="head-info">
                                            <p
                                                class="font-body-2-medium text700"
                                            >
                                                CJ ENM
                                            </p>
                                            <p class="body-3 text500">
                                                사내 벤처 TF 김윤주
                                            </p>
                                        </div>
                                    </div>
                                    <p
                                        class="item-body subtitle-2-medium text9"
                                    >
                                        웹 리뉴얼 외주로 진행하고
                                        <br />
                                        비용 절감했어요
                                    </p>
                                    <div class="open-interview-btn">
                                        <img
                                            src="https://www.wishket.com/static/img/acquisition/icon_arrow_r.svg"
                                        />
                                    </div></div
                            ></a>
                            <a href="" target="_blank"
                                ><div class="rolling-item">
                                    <div class="item-head mb32">
                                        <img
                                            src="https://www.wishket.com/static/img/acquisition/logo_interview_lgcns.svg"
                                        />
                                        <div class="head-info">
                                            <p
                                                class="font-body-2-medium text700"
                                            >
                                                LG CNS
                                            </p>
                                            <p class="body-3 text500">
                                                금융플랫폼 PM 김성규
                                            </p>
                                        </div>
                                    </div>
                                    <p
                                        class="item-body subtitle-2-medium text9"
                                    >
                                        프론트엔드부터 AA까지
                                        <br />
                                        한 번에 구했어요
                                    </p>
                                    <div class="open-interview-btn">
                                        <img
                                            src="https://www.wishket.com/static/img/acquisition/icon_arrow_r.svg"
                                        />
                                    </div></div
                            ></a>
                            <a href="" target="_blank"
                                ><div class="rolling-item">
                                    <div class="item-head mb32">
                                        <img
                                            src="https://www.wishket.com/static/img/acquisition/logo_interview_lotte.svg"
                                        />
                                        <div class="head-info">
                                            <p
                                                class="font-body-2-medium text700"
                                            >
                                                롯데제과
                                            </p>
                                            <p class="body-3 text500">
                                                사내 벤처 프로그램
                                            </p>
                                        </div>
                                    </div>
                                    <p
                                        class="item-body subtitle-2-medium text9"
                                    >
                                        관련 경험이 많은 전문가를
                                        <br />
                                        빠르게 만났어요
                                    </p>
                                    <div class="open-interview-btn">
                                        <img
                                            src="https://www.wishket.com/static/img/acquisition/icon_arrow_r.svg"
                                        />
                                    </div></div
                            ></a>
                            <a href="" target="_blank"
                                ><div class="rolling-item">
                                    <div class="item-head mb32">
                                        <img
                                            src="https://www.wishket.com/static/img/acquisition/logo_interview_shinsegae.svg"
                                        />
                                        <div class="head-info">
                                            <p
                                                class="font-body-2-medium text700"
                                            >
                                                신세계 아이앤씨
                                            </p>
                                            <p class="body-3 text500">
                                                내부 운영 인력
                                            </p>
                                        </div>
                                    </div>
                                    <p
                                        class="item-body subtitle-2-medium text9"
                                    >
                                        빠른 시간 안에 원하는
                                        <br />
                                        여러 개발사를 찾았어요
                                    </p>
                                    <div class="open-interview-btn">
                                        <img
                                            src="https://www.wishket.com/static/img/acquisition/icon_arrow_r.svg"
                                        />
                                    </div></div
                            ></a>
                            <a href="" target="_blank"
                                ><div class="rolling-item">
                                    <div class="item-head mb32">
                                        <img
                                            src="https://www.wishket.com/static/img/acquisition/logo_interview_jgd.svg"
                                        />
                                        <div class="head-info">
                                            <p
                                                class="font-body-2-medium text700"
                                            >
                                                종근당
                                            </p>
                                            <p class="body-3 text500">
                                                내부 운영 인력
                                            </p>
                                        </div>
                                    </div>
                                    <p
                                        class="item-body subtitle-2-medium text9"
                                    >
                                        내부 개발자 없이 빠르게
                                        <br />
                                        프로젝트를 진행했어요
                                    </p>
                                    <div class="open-interview-btn">
                                        <img
                                            src="https://www.wishket.com/static/img/acquisition/icon_arrow_r.svg"
                                        />
                                    </div></div
                            ></a>
                            <div class="rolling-item">
                                <div style="text-align: center">
                                    <img
                                        class="mb12"
                                        src="https://www.wishket.com/static/img/acquisition/icon_more_interview.svg"
                                        style="margin-top: 16px"
                                    />
                                    <p class="subtitle-2-medium text9 mb36">
                                        더 많은 성공사례가
                                        <br />
                                        궁금하다면?
                                    </p>
                                    <a
                                        class="view-success-btn body-2"
                                        href=""
                                        target="_blank"
                                        >성공사례 보러가기</a
                                    >
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="wishket-do-not-fail">
            <section class="container">
                <div class="fail-question">
                    <p class="title-2-bold text-white mb16">
                        처음 시작한 IT 프로젝트,
                        <br />
                        실패할까봐 불안하세요?
                    </p>
                    <p class="subtitle-2 text-white" style="opacity: 0.65">
                        위시켓은 실패를 줄이고 성공적으로 프로젝트를
                        <br />
                        진행할 수 있는 완벽한 솔루션 입니다.
                    </p>
                </div>
                <div class="fail-answer">
                    <img
                        src="https://www.wishket.com/static/img/acquisition/not-fail.svg
                    "
                    />
                </div>
            </section>
        </div>
        <div class="project-finder">
            <section class="container">
                <p class="text-center body-1-bold text-wishket mb6">
                    IT에 특화된 플랫폼
                </p>
                <p class="title-2-bold text-center text9 mb60">
                    비즈니스에 필요한 모든 IT 프로젝트를 진행할 수 있어요
                </p>
                <div class="project-fields-group">
                    <a class="project-field-box hover-top-btn">
                        <img
                            class="mb8"
                            src="https://www.wishket.com/static/img/acquisition/field_icon_itservice.svg"
                        />
                        <p class="body-1-medium text700">IT 서비스</p>
                    </a>
                    <a class="project-field-box hover-top-btn">
                        <img
                            class="mb8"
                            src="https://www.wishket.com/static/img/acquisition/field_icon_manage.svg"
                        />
                        <p class="body-1-medium text700">업무 시스템</p>
                    </a>
                    <a class="project-field-box hover-top-btn">
                        <img
                            class="mb8"
                            src="https://www.wishket.com/static/img/acquisition/field_icon_web.svg"
                        />
                        <p class="body-1-medium text700">웹 사이트</p>
                    </a>
                    <a class="project-field-box hover-top-btn">
                        <img
                            class="mb8"
                            src="https://www.wishket.com/static/img/acquisition/field_icon_ai.svg"
                        />
                        <p class="body-1-medium text700">AI</p>
                    </a>
                    <a class="project-field-box hover-top-btn">
                        <img
                            class="mb8"
                            src="	https://www.wishket.com/static/img/acquisition/field_icon_operate.svg"
                        />
                        <p class="body-1-medium text700">유지보수</p>
                    </a>
                    <a class="project-field-box hover-top-btn">
                        <img
                            class="mb8"
                            src="https://www.wishket.com/static/img/acquisition/field_icon_commerce.svg"
                        />
                        <p class="body-1-medium text700">커머스</p>
                    </a>
                    <a class="project-field-box hover-top-btn">
                        <img
                            class="mb8"
                            src="https://www.wishket.com/static/img/acquisition/field_icon_cloud.svg"
                        />
                        <p class="body-1-medium text700">클라우드</p>
                    </a>
                    <a class="project-field-box hover-top-btn">
                        <img
                            class="mb8"
                            src="https://www.wishket.com/static/img/acquisition/field_icon_consulting.svg"
                        />
                        <p class="body-1-medium text700">컨설팅</p>
                    </a>
                </div>
            </section>
        </div>
        <footer class="footer">
            <div class="container">
                <div class="footer-service-menu-list">
                    <div class="footer-service-menu">
                        <div class="footer-service-menu-title">
                            서비스 전체보기
                        </div>
                        <a class="footer-service-menu-item" href=""
                            ><img
                                src="https://www.wishket.com/static/renewal/img/news/img_service_symbol_1.png"
                                srcset="
                                    https://www.wishket.com/static/renewal/img/news/img_service_symbol_1.png    1x,
                                    https://www.wishket.com/static/renewal/img/news/img_service_symbol_1@2x.png 2x,
                                    https://www.wishket.com/static/renewal/img/news/img_service_symbol_1@3x.png 3x
                                "
                            />위시켓</a
                        >
                    </div>
                    <div class="footer-company-info-sns">
                        <a class="sns-icon" href="" target="_blank">
                            <img
                                src="https://www.wishket.com/static/renewal/img/global/icon-footer-sns-facebook.png"
                                srcset="
                                    https://www.wishket.com/static/renewal/img/global/icon-footer-sns-facebook.png    1x,
                                    https://www.wishket.com/static/renewal/img/global/icon-footer-sns-facebook@2x.png 2x,
                                    https://www.wishket.com/static/renewal/img/global/icon-footer-sns-facebook@3x.png 3x
                                "
                            />
                        </a>
                        <a class="sns-icon" href="" target="_blank">
                            <img
                                src="https://www.wishket.com/static/renewal/img/global/icon-footer-sns-blog.png"
                                srcset="
                                    https://www.wishket.com/static/renewal/img/global/icon-footer-sns-blog.png    1x,
                                    https://www.wishket.com/static/renewal/img/global/icon-footer-sns-blog@2x.png 2x,
                                    https://www.wishket.com/static/renewal/img/global/icon-footer-sns-blog@3x.png 3x
                                "
                            />
                        </a>
                        <a class="sns-icon" href="" target="_blank">
                            <img
                                src="https://www.wishket.com/static/renewal/img/global/icon-footer-sns-naver.png"
                                srcset="
                                    https://www.wishket.com/static/renewal/img/global/icon-footer-sns-naver.png    1x,
                                    https://www.wishket.com/static/renewal/img/global/icon-footer-sns-naver@2x.png 2x,
                                    https://www.wishket.com/static/renewal/img/global/icon-footer-sns-naver@3x.png 3x
                                "
                            />
                        </a>
                    </div>
                </div>
                <div class="footer-main">
                    <div class="footer-menu-list footer-contact">
                        <p class="footer-menu-title flex-box">
                            <img
                                src="https://www.wishket.com/static/renewal/img/news/icon_service_customer.png"
                                srcset="
                                    https://www.wishket.com/static/renewal/img/news/icon_service_customer.png    1x,
                                    https://www.wishket.com/static/renewal/img/news/icon_service_customer@2x.png 2x,
                                    https://www.wishket.com/static/renewal/img/news/icon_service_customer@3x.png 3x
                                "
                            />
                            고객 문의
                        </p>
                        <a class="footer-cs-tel" href="">010-1234-5678</a>
                        <div class="footer-cs-info">
                            <div class="footer-cs-item">09:00-18:00</div>
                            <div class="footer-cs-subitem">
                                주말·공휴일 제외
                            </div>
                            <br />
                            <a class="footer-cs-item email" href=""
                                >help@wishket.com</a
                            >
                        </div>
                    </div>
                    <div class="footer-menu-list">
                        <p class="footer-menu-title">위시켓</p>
                        <a class="footer-menu-item" href="">위시켓 소개</a>
                        <a class="footer-menu-item" href="">신뢰와 안전</a>
                    </div>
                    <div class="footer-menu-list">
                        <p class="footer-menu-title">이용방법</p>
                        <a class="footer-menu-item" href=""
                            >클라이언트 이용방법</a
                        >
                        <a class="footer-menu-item" href=""
                            >파트너스 이용방법</a
                        >
                        <a class="footer-menu-item" href="">파트너 등급</a>
                        <a class="footer-menu-item" href="">이용요금</a>
                    </div>
                    <div class="footer-menu-list">
                        <p class="footer-menu-title">고객센터</p>
                        <a class="footer-menu-item" href=""
                            >클라이언트 고객센터</a
                        >
                        <a class="footer-menu-item" href=""
                            >파트너스 고객센터</a
                        >
                    </div>
                    <div class="footer-menu-list">
                        <a class="footer-menu-title link-title" href=""
                            >뉴스센터</a
                        >
                        <a class="footer-menu-title link-title" href=""
                            >위시켓 스토어</a
                        >
                        <a class="footer-menu-title link-title" href="">
                            통합빌링 서비스
                        </a>
                    </div>
                </div>
                <div class="footer-service-policy">
                    <a class="footer-service-policy-item" href="">이용약관</a>
                    <div class="divider"></div>
                    <a class="footer-service-policy-item" href=""
                        >개인정보 처리방침</a
                    >
                    <div class="divider"></div>
                    <a class="footer-service-policy-item" href=""
                        >관리자 페이지</a
                    >
                </div>
                <div class="footer-company-info">
                    <div class="footer-company-info-list">
                        <div class="footer-company-info-item">㈜위시켓</div>
                        <div class="divider"></div>
                        <div class="footer-company-info-item">
                            대표이사 : 홍길동
                        </div>
                        <div class="divider"></div>
                        <div class="footer-company-info-item">
                            서울특별시 강남구...
                        </div>
                    </div>
                    <div class="footer-company-info-list">
                        <div class="footer-company-info-item">
                            사업자등록번호 : 1234
                        </div>
                        <div class="divider"></div>
                        <div class="footer-company-info-item">
                            통신판매업신고 : 1234
                        </div>
                        <div class="divider"></div>
                        <div class="footer-company-info-item">
                            직업정보제공사업 신고번호 : 1234
                        </div>
                    </div>
                    <div class="footer-company-info-copyright">
                        © 2013 Wishket Corp.
                    </div>
                </div>
            </div>
        </footer>
    </body>
    <script src="/header-login/header-login.js"></script>
    <script src="/main-basic/main-basic.js"></script>
</html>
