<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="footer.css" />
        <title>Main</title>
    </head>
    <body>
        <footer class="footer">
            <div class="container">
                <div class="footer-service-menu-list">
                    <div class="footer-service-menu">
                        <div class="footer-service-menu-title">
                            서비스 전체보기
                        </div>
                        <a class="footer-service-menu-item" href=""
                            ><img
                                src="https://www.wishket.com/static/renewal/img/news/img_service_symbol_1.png"
                                srcset="
                                    https://www.wishket.com/static/renewal/img/news/img_service_symbol_1.png    1x,
                                    https://www.wishket.com/static/renewal/img/news/img_service_symbol_1@2x.png 2x,
                                    https://www.wishket.com/static/renewal/img/news/img_service_symbol_1@3x.png 3x
                                "
                            />위시켓</a
                        >
                    </div>
                    <div class="footer-company-info-sns">
                        <a class="sns-icon" href="" target="_blank">
                            <img
                                src="https://www.wishket.com/static/renewal/img/global/icon-footer-sns-facebook.png"
                                srcset="
                                    https://www.wishket.com/static/renewal/img/global/icon-footer-sns-facebook.png    1x,
                                    https://www.wishket.com/static/renewal/img/global/icon-footer-sns-facebook@2x.png 2x,
                                    https://www.wishket.com/static/renewal/img/global/icon-footer-sns-facebook@3x.png 3x
                                "
                            />
                        </a>
                        <a class="sns-icon" href="" target="_blank">
                            <img
                                src="https://www.wishket.com/static/renewal/img/global/icon-footer-sns-blog.png"
                                srcset="
                                    https://www.wishket.com/static/renewal/img/global/icon-footer-sns-blog.png    1x,
                                    https://www.wishket.com/static/renewal/img/global/icon-footer-sns-blog@2x.png 2x,
                                    https://www.wishket.com/static/renewal/img/global/icon-footer-sns-blog@3x.png 3x
                                "
                            />
                        </a>
                        <a class="sns-icon" href="" target="_blank">
                            <img
                                src="https://www.wishket.com/static/renewal/img/global/icon-footer-sns-naver.png"
                                srcset="
                                    https://www.wishket.com/static/renewal/img/global/icon-footer-sns-naver.png    1x,
                                    https://www.wishket.com/static/renewal/img/global/icon-footer-sns-naver@2x.png 2x,
                                    https://www.wishket.com/static/renewal/img/global/icon-footer-sns-naver@3x.png 3x
                                "
                            />
                        </a>
                    </div>
                </div>
                <div class="footer-main">
                    <div class="footer-menu-list footer-contact">
                        <p class="footer-menu-title flex-box">
                            <img
                                src="https://www.wishket.com/static/renewal/img/news/icon_service_customer.png"
                                srcset="
                                    https://www.wishket.com/static/renewal/img/news/icon_service_customer.png    1x,
                                    https://www.wishket.com/static/renewal/img/news/icon_service_customer@2x.png 2x,
                                    https://www.wishket.com/static/renewal/img/news/icon_service_customer@3x.png 3x
                                "
                            />
                            고객 문의
                        </p>
                        <a class="footer-cs-tel" href="">010-1234-5678</a>
                        <div class="footer-cs-info">
                            <div class="footer-cs-item">09:00-18:00</div>
                            <div class="footer-cs-subitem">
                                주말·공휴일 제외
                            </div>
                            <br />
                            <a class="footer-cs-item email" href=""
                                >help@wishket.com</a
                            >
                        </div>
                    </div>
                    <div class="footer-menu-list">
                        <p class="footer-menu-title">위시켓</p>
                        <a class="footer-menu-item" href="">위시켓 소개</a>
                        <a class="footer-menu-item" href="">신뢰와 안전</a>
                    </div>
                    <div class="footer-menu-list">
                        <p class="footer-menu-title">이용방법</p>
                        <a class="footer-menu-item" href=""
                            >클라이언트 이용방법</a
                        >
                        <a class="footer-menu-item" href=""
                            >파트너스 이용방법</a
                        >
                        <a class="footer-menu-item" href="">파트너 등급</a>
                        <a class="footer-menu-item" href="">이용요금</a>
                    </div>
                    <div class="footer-menu-list">
                        <p class="footer-menu-title">고객센터</p>
                        <a class="footer-menu-item" href=""
                            >클라이언트 고객센터</a
                        >
                        <a class="footer-menu-item" href=""
                            >파트너스 고객센터</a
                        >
                    </div>
                    <div class="footer-menu-list">
                        <a class="footer-menu-title link-title" href=""
                            >뉴스센터</a
                        >
                        <a class="footer-menu-title link-title" href=""
                            >위시켓 스토어</a
                        >
                        <a class="footer-menu-title link-title" href="">
                            통합빌링 서비스
                        </a>
                    </div>
                </div>
                <div class="footer-service-policy">
                    <a class="footer-service-policy-item" href="">이용약관</a>
                    <div class="divider"></div>
                    <a class="footer-service-policy-item" href=""
                        >개인정보 처리방침</a
                    >
                    <div class="divider"></div>
                    <a class="footer-service-policy-item" href=""
                        >관리자 페이지</a
                    >
                </div>
                <div class="footer-company-info">
                    <div class="footer-company-info-list">
                        <div class="footer-company-info-item">㈜위시켓</div>
                        <div class="divider"></div>
                        <div class="footer-company-info-item">
                            대표이사 : 홍길동
                        </div>
                        <div class="divider"></div>
                        <div class="footer-company-info-item">
                            서울특별시 강남구...
                        </div>
                    </div>
                    <div class="footer-company-info-list">
                        <div class="footer-company-info-item">
                            사업자등록번호 : 1234
                        </div>
                        <div class="divider"></div>
                        <div class="footer-company-info-item">
                            통신판매업신고 : 1234
                        </div>
                        <div class="divider"></div>
                        <div class="footer-company-info-item">
                            직업정보제공사업 신고번호 : 1234
                        </div>
                    </div>
                    <div class="footer-company-info-copyright">
                        © 2013 Wishket Corp.
                    </div>
                </div>
            </div>
        </footer>
    </body>
    <script src="/footer/footer.js"></script>
</html>
