<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="header-basic.css" />
        <title>Main</title>
    </head>
    <body>
        <header class="header">
            <section class="base-nav-landing-renewal">
                <div class="header-service-nav">
                    <div class="container">
                        <div class="service-link wishket">
                            <img
                                src="https://www.wishket.com/static/renewal/img/global/gnb_wishket.svg"
                            />
                            <div class="service-name caption-1">위시켓</div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="header-nav">
                <div class="container">
                    <a href="">
                        <div class="nav-logo-wrapper">
                            <div class="nav-logo"></div>
                        </div>
                    </a>
                    <div class="left-nav">
                        <a href="">
                            <div
                                class="left-nav-menu add-project font-body-2 text900"
                            >
                                프로젝트 등록
                            </div>
                        </a>
                        <a href="">
                            <div class="left-nav-menu font-body-2 text900">
                                프로젝트 찾기
                            </div>
                        </a>
                        <a href="">
                            <div class="left-nav-menu font-body-2 text900">
                                파트너스 찾기
                            </div>
                        </a>
                        <div class="drop-down-container">
                            <a href="">
                                <div
                                    class="left-nav-menu pr-8 font-body-2 text900"
                                >
                                    이용방법
                                    <div class="img-container">
                                        <img
                                            src="https://www.wishket.com/static/renewal/img/global/Arrow.png"
                                            srcset="
                                                https://www.wishket.com/static/renewal/img/global/Arrow.png   1x,
                                                https://www.wishket.com/static/renewal/img/global/Arrow@2.png 2x,
                                                https://www.wishket.com/static/renewal/img/global/Arrow@3.png 3x
                                            "
                                        />
                                    </div>
                                </div>
                            </a>
                            <div class="drop-down-list">
                                <div class="left-bar-useguide">
                                    <img
                                        src="https://www.wishket.com/static/renewal/img/global/gradient-bar-1.png"
                                        srcset="
                                            https://www.wishket.com/static/renewal/img/global/gradient-bar-1.png   1x,
                                            https://www.wishket.com/static/renewal/img/global/gradient-bar-1@2.png 2x,
                                            https://www.wishket.com/static/renewal/img/global/gradient-bar-1@3.png 3x
                                        "
                                    />
                                </div>
                                <div class="menu-list">
                                    <a href="">
                                        <div
                                            class="drop-down-menu font-body-2 text900"
                                        >
                                            이용방법
                                        </div>
                                    </a>
                                    <a href="">
                                        <div
                                            class="drop-down-menu font-body-2 text900"
                                        >
                                            파트너 등급
                                        </div>
                                    </a>
                                    <a href="">
                                        <div
                                            class="drop-down-menu font-body-2 text900"
                                        >
                                            이용요금
                                        </div>
                                    </a>
                                    <a href="">
                                        <div
                                            class="drop-down-menu font-body-2 text900"
                                        >
                                            고객센터
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="drop-down-container">
                            <a href="">
                                <div
                                    class="left-nav-menu pr-8 font-body-2 text900"
                                >
                                    고객 사례
                                    <div class="img-container">
                                        <img
                                            src="https://www.wishket.com/static/renewal/img/global/Arrow.png"
                                            srcset="
                                                https://www.wishket.com/static/renewal/img/global/Arrow.png    1x,
                                                https://www.wishket.com/static/renewal/img/global/Arrow@2x.png 2x,
                                                https://www.wishket.com/static/renewal/img/global/Arrow@3x.png 3x
                                            "
                                        />
                                    </div>
                                </div>
                            </a>
                            <div class="drop-down-list">
                                <div class="left-bar-postscript">
                                    <img
                                        src="https://www.wishket.com/static/renewal/img/global/partner-gradient-bar.png"
                                    />
                                </div>
                                <div class="menu-list">
                                    <a href="">
                                        <div
                                            class="drop-down-menu font-body-2 text900"
                                        >
                                            고객 사례
                                        </div>
                                    </a>
                                    <a href="">
                                        <div
                                            class="drop-down-menu font-body-2 text900"
                                        >
                                            이용 후기
                                        </div>
                                    </a>
                                    <a href="">
                                        <div
                                            class="drop-down-menu font-body-2 text900"
                                        >
                                            위시켓 포트폴리오
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="nav-divider"></div>
                        <a href="">
                            <div class="left-nav-menu font-body-2 text900">
                                프리미엄
                                <div class="img-container">
                                    <img
                                        src="https://www.wishket.com/static/renewal/img/global/new-sign.png"
                                    />
                                </div>
                            </div>
                        </a>
                        <a href="">
                            <div class="left-nav-menu font-body-2 text900">
                                스토어
                            </div>
                        </a>
                    </div>
                    <div class="right-nav">
                        <a href="">
                            <div class="log-in-section font-body-2 text900">
                                로그인
                            </div>
                        </a>
                        <a href="">
                            <div class="sign-up-button font-body-2-medium">
                                회원가입
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </header>
    </body>
    <script src="header-basic.js"></script>
</html>
