* {
    margin: 0;
    padding: 0;
    line-height: 1;
    box-sizing: border-box;
    font-family: "NotoSansKR", "Sans-serif";
}

body {
    background-color: #f5f5f5;
}

a {
    color: #2099bb;
    text-decoration: none;
    background: transparent;
}

#wrap {
    min-height: 100%;
    margin: 0 auto;
    padding-bottom: 250px;
    min-width: 1080px;
}
.empty-component {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}

.page {
    width: 1080px;
    margin: 0 auto;
}

.page-inner {
    display: flex;
}

.sidebar {
    width: 250px;
    margin: 10px;
    background-color: #fff;
    border: 1px solid #dedede;
    border-radius: 2px;
    padding: 15px;
}

.user-name-tag-heading {
    font-size: 16px;
    margin-bottom: 9px;
    padding-bottom: 11px;
    border-bottom: 1px solid #dedede;
    color: #454545;
}

.user-name-tag-body {
    padding-left: 3px;
}

.user-img-box {
    cursor: pointer;
}

.user-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #dedede;
}

.sidebar .user-name-tag .user-img-box .user-img-edit-icon {
    position: absolute;
    margin-top: 32px;
    margin-left: -18px;
}

.username {
    margin-top: 8px;
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
}

.email {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 13px;
    color: #999;
}

.sidebar-nav ul {
    width: 220px;
    list-style: none;
    padding: 0;
    background-color: #fff;
    border: 1px solid #dedede;
    border-radius: 3px;
    padding: 8px 8px;
}

.sidebar-nav ul li {
    margin-bottom: 10px;
}

.sidebar-nav ul li a {
    display: block;
    padding: 10px 15px;
    font-size: 14px;
    color: #999;
    border-radius: 2px;
}

.sidebar-nav ul li.active a:hover {
    color: black;
}

.sidebar-nav ul li.active a {
    background-color: #446eab;
    color: #fff;
}

.sidebar .sidebar-nav ul > li > a:hover,
.sidebar .sidebar-nav ul > li > a:active {
    background-color: #f5f5f5;
    text-decoration: none;
}

.content {
    min-width: 800px;
    background-color: #fff;
    border: 1px solid #dedede;
    border-radius: 3px;
    margin: 10px;
}

.content-header {
    padding: 30px;
    border-bottom: 2px solid #dedede;
}

.content-inner {
    margin: 20px;
}

.header-text {
    margin: 0;
    font-size: 24px;
}

.small-text {
    display: block;
    margin-top: 10px;
    font-size: 65%;
    color: #999;
}

.client-info {
    margin-bottom: 30px;
    padding: 0 40px;
}
.client-details,
.contact-info {
    margin-bottom: 30px;
    padding: 0 30px;
}

.client-info h4,
.client-details h4,
.contact-info h4 {
    font-size: 18px;
    margin-bottom: 15px;
    color: #333;
}

.client-info textarea {
    width: 100%;
    height: 80px;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 10px;
    font-size: 14px;
    margin-bottom: 15px;
}

.homepage-section {
    margin-bottom: 15px;
}

.homepage-section label {
    display: inline-block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #555;
}

.homepage-section input {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.btn-save-registration {
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    color: #fff;
    background-color: #446eab;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 570px;
}

.btn-save-info {
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    color: #fff;
    background-color: #446eab;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 600px;
}
.btn-write-inquiry:hover,
.btn-save:hover {
    background-color: #365e8b;
}

.client-details table,
.contact-info table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px;
}

.client-details th,
.client-details td,
.contact-info th,
.contact-info td {
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.client-details th,
.contact-info th {
    background-color: #f9f9f9;
    width: 30%;
    text-align: left;
    font-weight: bold;
    color: #555;
}

.data-editable {
    cursor: pointer;
    color: #2099bb;
}

.data-editable:hover {
    text-decoration: underline;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 25px;
    border: 1px solid #888;
    max-width: 400px;
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.btn-default {
    font-size: 16px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #446eab;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: center;
    border: none;
}

.btn-default {
    background-color: #999;
}

.btn-default:hover {
    background-color: #777;
}

label.btn-upload {
    display: inline-block;
    padding: 10px 20px;
    background-color: #446eab;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: center;
    border: none;
}

label.btn-upload:hover {
    background-color: #365e8b;
}

.btn-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.img-border,
.img-reply {
    vertical-align: middle;
    width: 100px;
}

.font-p5-no-border-info-text {
    margin-top: 15px;
    margin-bottom: 0;
    color: #999 !important;
    line-height: 1;
}
.font-p5-no-inquiry-info-text {
    color: #999 !important;
    line-height: 1;
    text-align: center;
}

.font-p5-bold {
    font-weight: bold;
}

.text-center {
    text-align: center;
}

.tab-content {
    min-height: 900px;
    display: none;
}

.tab-content.active {
    height: fit-content;
    display: block;
}
.form-part {
    display: none;
}
.form-part.active {
    display: block;
}

.tabs {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.tab-link {
    padding: 10px 20px;
    border: 1px solid #dedede;
    border-radius: 3px;
    background-color: #f9f9f9;
    cursor: pointer;
}
.tab-link:hover {
    background-color: #f5f5f5;
    text-decoration: none;
}

.tab-link.active {
    background-color: #446eab;
    color: #fff;
}
.tab-link.active:hover {
    background-color: #1d3e71;
    text-decoration: none;
}

#inquiry-list {
    margin-bottom: 20px;
}

.empty-component-inquiry {
    padding-top: 40px;
    padding-bottom: 40px;
}

#fileInput {
    display: none;
}

.post-list,
.reply-list {
    margin-top: 20px;
}

.post-item,
.reply-item,
.inquiry-item {
    padding: 15px;
    border: 1px solid #446eab;
    margin-bottom: 10px;
    border-radius: 3px;
    background-color: #f9f9f9;
    cursor: pointer;
}
.post-item:hover,
.reply-item:hover,
.inquiry-item:hover {
    padding: 15px;
    border: 1px solid #446eab;
    margin-bottom: 10px;
    border-radius: 3px;
    background-color: #f1f1f1;
}

.post-item h4,
.reply-item h4 {
    margin: 0;
    font-size: 18px;
    color: #333;
}

.post-item p,
.reply-item p {
    margin: 10px 0;
    font-size: 14px;
    color: #666;
}
.pagination {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    text-align: center;
}

.project-search .pagination {
    display: block;
    text-align: center;
    line-height: 80px;
}
ul {
    list-style: none;
}
.project-search .pagination li {
    display: inline-block;
    cursor: pointer;
}
.pagination.theme-wishket li:first-child {
    margin-left: 0;
}
.pagination.theme-wishket li {
    height: 100%;
    margin-left: 4px;
}
ul li {
    padding: 0;
    margin: 0;
}

.pagination.theme-wishket .page-link {
    position: relative;
    display: block;
    font-size: 14px;
    line-height: 30px;
    min-width: 32px;
    text-align: center;
    padding: 0 8px;
    font-weight: 500;
    color: #616161;
    text-decoration: none;
    border: 1px solid transparent;
}
.pagination.theme-wishket .page-link {
    color: #333;
}
.pagination.theme-wishket .page-link:hover {
    color: #3ba3c7;
    border: 1px solid;
    border-color: #bdbdbd;
    border-radius: 2px;
}
.project-search .container .pagination li a {
    cursor: pointer;
}
